h1 {
  margin: 0 auto;
}

.actionBar-area {
  background: rgba(0, 0, 0, 0.3);
}

.main-area {
  background: rgba(0, 0, 0, 0.8);
}

.navBar-area {
  background: rgba(0, 0, 0, 0.5);
}

/* .navBar-area .style-Family {
  color: rgba(251, 54, 74, 1);
} */

.MuiBottomNavigationAction-root-4.MuiBottomNavigationAction-selected-5 {
  color: rgba(251, 54, 74, 1) !important;
  /* color: rgba(255, 255, 255, 1) !important; */
}
