.pin-modal {
  background: rgba(46, 49, 49, 0.3);
  position: absolute;
  color: red;
  width: 50%;
  height: 450px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pin-modal-close-button {
  color: red;
}
