@import url("https://fonts.googleapis.com/css?family=Lato:100|Oswald:300|Roboto:300,400,500");

body {
  /* background: rgba(78, 78, 78, 1); */
  /* color: rgba(255, 255, 255, 1); */
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.lato {
  font-family: Lato;
}

.oswald {
  font-family: Oswald;
}

.oswald {
  font-family: Oswald;
}

.roboto {
  font-family: Roboto;
}

.primary {
  color: rgba(251, 54, 74, 1);
  /* background: #621389; */
}

.secondary {
  /* background: #d1d1d1; */
}

.accent {
  /* background: #00f281; */
}

.text-blk {
  color: #000;
}

/* .text-gry {
  color: #d1d1d1;
} */

.text-wht {
  color: #fff;
}

.text-left {
  text-align: left;
}

.content {
  padding: 15px 0 0;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.margin-small {
  margin: 5px;
}

.padding-small {
  padding: 5px;
}

.logo-square {
  background: url("./assets/dropin-logo-square.png") no-repeat center;
  background-size: contain;
  height: 64px;
  width: 512px;
}

.logo-wide {
  background: url("./assets/dropin-logo-wide.png") no-repeat center;
  background-size: contain;
  height: 64px;
  width: 512px;
}

/* .MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Education {
  color: rgba(0, 0, 200, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Entertainment {
  color: rgba(255, 0, 200, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Family {
  color: rgba(255, 0, 0, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Food {
  color: rgba(0, 150, 0, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Gaming {
  color: rgba(0, 150, 150, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Humanitarian {
  color: rgba(0, 0, 200, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Music {
  color: rgba(255, 0, 200, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Party {
  color: rgba(255, 0, 0, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Religious {
  color: rgba(0, 150, 0, 1) !important;
}

.MuiBottomNavigationAction-root-3.MuiBottomNavigationAction-selected-4.style-Sports {
  color: rgba(0, 150, 150, 1) !important;
} */
